canvas {
    border: 1px dashed red;
}
#button {
    width: 200px;
}
#divSlider {
    left: 530px;
    position: absolute;
    top: 320px;
}
#divUp {
    left: 280px;
    position: absolute;
    top: 430px;
}
#divDown {
    left: 280px;
    position: absolute;
    top: 500px;
}
#divLeft {
    left: 245px;
    position: absolute;
    top: 465px;
}
#divRight {
    left: 315px;
    position: absolute;
    top: 465px;
}
#controls {
    left: 530px;
    position: absolute;
    top: -350px;
}
