@charset "utf-8";
/* CSS Document */


canvas {
        border: 1px dashed red;
        /*background-color: #DDD;
        border-radius: 30px;
        opacity: 1;*/
    }
	
#button {
	width: 200px;
}

.divTitle {
	padding-bottom: 10px;
	padding-top: 5px;
}


